/* 
    MEDIA QUERIES FOR:
    IPADS & TABLETS (481PX - 768PX)
*/
@media only screen and (min-width:481px) and (max-width:675px){
	/* MEDIA CONSTRAINT: VISIBILITY */
	/* MEDIA CONSTRAINTS: BREAKPOINTS */
	.mdc.br{
		width: 100%;
	}
	.mdc.br.col-2{/* Break to columns */
		grid-template-columns: repeat(2, 1fr);
	}
	.mdc.br.col-3{
		grid-template-columns: repeat(2, 1fr);
	}
	.mdc.br.col-4{
		grid-template-columns: repeat(2, 1fr);
	}
	.mdc.br.col-n{
		grid-template-columns: 1fr;
	}
	.mdc.br.loose-cards.-gap-xs,
	.mdc.br.loose-cards.-gap-sm,
	.mdc.br.loose-cards.-gap-md,
	.mdc.br.loose-cards.-gap-lg,
	.mdc.br.loose-cards.-gap-xl{
		gap: var(--xs)!important;
	}
	.mdc.sm-hidden/* Visible only on md, lg, xl & xxl screens */{
		position: relative;
		opacity: 1;
		visibility: visible;
		z-index: auto;
	}
	.mdc.sm-md-hidden/* Visible only on lg, xl & xxl screens */{
		position: absolute;
		opacity: 0;
		visibility: hidden;
		z-index: -1;
	}
	.mdc.sm-md-lg-hidden/* Visible only on xl & xxl screens */{
		position: absolute;
		opacity: 0;
		visibility: hidden;
		z-index: -1;
	}
	.mdc.sm-md-lg-xl-hidden/* Visible only on xxl screens */{
		position: absolute;
		opacity: 0;
		visibility: hidden;
		z-index: -1;
	}
	.mdc.md-lg-xl-xxl-hidden/* Visible only on sm screens */{
		position: absolute;
		opacity: 0;
		visibility: hidden;
		z-index: -1;
	}
	.mdc.lg-xl-xxl-hidden/* Visible only on sm & md screens */{
		position: relative;
		opacity: 1;
		visibility: visible;
		z-index: auto;
	}
	/* MEDIA CONSTRAINTS: SPACING AND SIZING */
	.mdc-ss.-pxl-xs{/* Left padding (x) + 4px left */
		padding-left:calc(var(--xs) + 4px);
	}
	.mdc-ss.-pxl-sm{
		padding-left:calc(var(--sm) + 4px);
	}
	.mdc-ss.-pxl-md{
		padding-left:calc(var(--md) + 4px);
	}
	.mdc-ss.-pxl-lg{
		padding-left:calc(var(--lg) + 4px);
	}
	.mdc-ss.-pxl-xl{
		padding-left:calc(var(--xl) + 4px);
	}
	.mdc-ss.-pxr-xs{/* Right padding (x) + 4px right */
		padding-right:calc(var(--xs) + 4px);
	}
	.mdc-ss.-pxr-sm{
		padding-right:calc(var(--sm) + 4px);
	}
	.mdc-ss.-pxr-md{
		padding-right:calc(var(--md) + 4px);
	}
	.mdc-ss.-pxr-lg{
		padding-right:calc(var(--lg) + 4px);
	}
	.mdc-ss.-pxr-xl{
		padding-right:calc(var(--xl) + 4px);
	}
	.mdc-ss.-pyt-xs{/* Top padding (y) + 4px top */
		padding-top:calc(var(--xs) + 4px);
	}
	.mdc-ss.-pyt-sm{
		padding-top:calc(var(--sm) + 4px);
	}
	.mdc-ss.-pyt-md{
		padding-top:calc(var(--md) + 4px);
	}
	.mdc-ss.-pyt-lg{
		padding-top:calc(var(--lg) + 4px);
	}
	.mdc-ss.-pyt-xl{
		padding-top:calc(var(--xl) + 4px);
	}
	.mdc-ss.-pyb-xs{/* Bottom padding (y) + 4px bottom */
		padding-bottom:calc(var(--xs) + 4px);
	}
	.mdc-ss.-pyb-sm{
		padding-bottom:calc(var(--sm) + 4px);
	}
	.mdc-ss.-pyb-md{
		padding-bottom:calc(var(--md) + 4px);
	}
	.mdc-ss.-pyb-lg{
		padding-bottom:calc(var(--lg) + 4px);
	}
	.mdc-ss.-pyb-xl{
		padding-bottom:calc(var(--xl) + 4px);
	}
	.mdc-ss.-pxy-xs{/* Padding xy */
		padding:calc(var(--xs) + 4px);
	}
	.mdc-ss.-pxy-sm{
		padding:calc(var(--sm) + 4px);
	}
	.mdc-ss.-pxy-md{
		padding:calc(var(--md) + 4px);
	}
	.mdc-ss.-pxy-lg{
		padding:calc(var(--lg) + 4px);
	}
	.mdc-ss.-pxy-xl{
		padding:calc(var(--xl) + 4px);
	}
	.mdc-ss.-px-xs{/* Padding x */
		padding:0 calc(var(--xs) + 4px);
	}
	.mdc-ss.-px-sm{
		padding:0 calc(var(--sm) + 4px);
	}
	.mdc-ss.-px-md{
		padding:0 calc(var(--md) + 4px);
	}
	.mdc-ss.-px-lg{
		padding:0 calc(var(--lg) + 4px);
	}
	.mdc-ss.-px-xl{
		padding:0 calc(var(--xl) + 4px);
	}
	.mdc-ss.-py-xs{/* Padding y */
		padding:calc(var(--xs) + 4px) 0;
	}
	.mdc-ss.-py-sm{
		padding:calc(var(--sm) + 4px) 0;
	}
	.mdc-ss.-py-md{
		padding:calc(var(--md) + 4px) 0;
	}
	.mdc-ss.-py-lg{
		padding:calc(var(--lg) + 4px) 0;
	}
	.mdc-ss.-py-xl{
		padding:calc(var(--xl) + 4px) 0;
	}
	/* SPACING */
	.mdc-ss.-mxl-xs{/* Left margin (x) + 4px left */
		margin-left:calc(var(--xs) + 4px);
	}
	.mdc-ss.-mxl-sm{
		margin-left:calc(var(--sm) + 4px);
	}
	.mdc-ss.-mxl-md{
		margin-left:calc(var(--md) + 4px);
	}
	.mdc-ss.-mxl-lg{
		margin-left:calc(var(--lg) + 4px);
	}
	.mdc-ss.-mxl-xl{
		margin-left:calc(var(--xl) + 4px);
	}
	.mdc-ss.-mxr-xs{/* Right margin (x) + 4px right */
		margin-right:calc(var(--xs) + 4px);
	}
	.mdc-ss.-mxr-sm{
		margin-right:calc(var(--sm) + 4px);
	}
	.mdc-ss.-mxr-md{
		margin-right:calc(var(--md) + 4px);
	}
	.mdc-ss.-mxr-lg{
		margin-right:calc(var(--lg) + 4px);
	}
	.mdc-ss.-mxr-xl{
		margin-right:calc(var(--xl) + 4px);
	}
	.mdc-ss.-myt-xs{/* Top margin (y) + 4px top */
		margin-top:calc(var(--xs) + 4px);
	}
	.mdc-ss.-myt-sm{
		margin-top:calc(var(--sm) + 4px);
	}
	.mdc-ss.-myt-md{
		margin-top:calc(var(--md) + 4px);
	}
	.mdc-ss.-myt-lg{
		margin-top:calc(var(--lg) + 4px);
	}
	.mdc-ss.-myt-xl{
		margin-top:calc(var(--xl) + 4px);
	}
	.mdc-ss.-myb-xs{/* Bottom margin (y) + 4px bottom */
		margin-bottom:calc(var(--xs) + 4px);
	}
	.mdc-ss.-myb-sm{
		margin-bottom:calc(var(--sm) + 4px);
	}
	.mdc-ss.-myb-md{
		margin-bottom:calc(var(--md) + 4px);
	}
	.mdc-ss.-myb-lg{
		margin-bottom:calc(var(--lg) + 4px);
	}
	.mdc-ss.-myb-xl{
		margin-bottom:calc(var(--xl) + 4px);
	}
	.mdc-ss.-mxy-xs{/* margin xy */
		margin:calc(var(--xs) + 4px);
	}
	.mdc-ss.-mxy-sm{
		margin:calc(var(--sm) + 4px);
	}
	.mdc-ss.-mxy-md{
		margin:calc(var(--md) + 4px);
	}
	.mdc-ss.-mxy-lg{
		margin:calc(var(--lg) + 4px);
	}
	.mdc-ss.-mxy-xl{
		margin:calc(var(--xl) + 4px);
	}
	.mdc-ss.-mx-xs{/* margin x */
		margin:0 calc(var(--xs) + 4px);
	}
	.mdc-ss.-mx-sm{
		margin:0 calc(var(--sm) + 4px);
	}
	.mdc-ss.-mx-md{
		margin:0 calc(var(--md) + 4px);
	}
	.mdc-ss.-mx-lg{
		margin:0 calc(var(--lg) + 4px);
	}
	.mdc-ss.-mx-xl{
		margin:0 calc(var(--xl) + 4px);
	}
	.mdc-ss.-my-xs{/* margin y */
		margin:calc(var(--xs) + 4px) 0;
	}
	.mdc-ss.-my-sm{
		margin:calc(var(--sm) + 4px) 0;
	}
	.mdc-ss.-my-md{
		margin:calc(var(--md) + 4px) 0;
	}
	.mdc-ss.-my-lg{
		margin:calc(var(--lg) + 4px) 0;
	}
	.mdc-ss.-my-xl{
		margin:calc(var(--xl) + 4px) 0;
	}
	/* APP COMPONENTS */

	/* SQUARE IMAGE 1:1 */
	.img.img-1-1{
		min-height: 200px;
		padding-top: 100%;
	}
	/* RECTANGULAR IMAGE 16:9 */
	.img.img-16-9{
		min-height: 200px;
		padding-top: 50%;
	}
	/* INPUT FIELDS */
	.inp-field {
		padding: var(--xs) calc(var(--sm) - 4px);
		font-size: calc(var(--sm) - 2px);
	}
	.inp-field > input[type="search"] {
		display: none;
	}
	
	.toggle_sidebar {
		cursor: pointer!important;
		font-size: var(--lg)!important;
		position: relative;
		opacity: 1;
		visibility: visible;
	}
	.app-sidebar.mdc-sm {
		background-color: var(--dark);
		width: 100%;
		height: 100%;
		padding: var(--lg) 20%;
		display: flex;
		align-items: stretch;
		justify-content: flex-start;
		flex-direction: column;
		box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.12);
		position: fixed;
		top: 0;
		left: -100%;
		opacity: 1;
		visibility: visible;
		z-index: 99;
		transition: .3s ease;
	}
	.app-sidebar.mdc-sm.active {
		left: 0;
		transition: .3s ease;
	}
	.app-navlink.mdc-sm,
	.show-logout-modal.mdc-sm {
		background-color: #00000005;
		color: inherit;
		width: 100%;
		padding: calc(var(--xs) + 2px) 6%;
		border-radius: 50px;
		font-size: var(--sm);
		gap: var(--sm);
	}
	.app-navlink.mdc-sm:hover,
	.app-navlink.mdc-sm:focus,
	.app-navlink.mdc-sm.active,
	.show-logout-modal.mdc-sm:hover,
	.show-logout-modal.mdc-sm:focus,
	.show-logout-modal.mdc-sm:active {
		background-color: var(--dark-accent);
		color: var(--accent);
	}
	.inp-field.search > input[type="search"]{
		width: 80px;
		display: flex;
	}
	.app-header:has(.inp-field.search.active) .hide-on-toggle{
		opacity: 0!important;
	}

	/* MAIN, SECTION AND CARDS */
	main, .main{
		max-width: 100%;
		margin: auto;
	}
	section, .hero{
		max-width: 100%;
	}
	section.auth-section.mdc.br.col-2{
		grid-template-columns: 1fr;
	}
	.hero .img.img-1-1{
		min-height: 520px;
		padding-top: 100%;
	}
	.hero .img.img-16-9{
		min-height: 520px;
		padding-top: 50%;
	}

	/* GET STARTED PAGE */
	.auth-container {
		background-color: var(--dark);
		width: 100%;
		max-width: 520px;
		margin: auto;
		border-radius: 0;
		border: 0;
		box-shadow: none;
		position: relative;
		transform: translateX(0) translateY(0);
		top: 0;
		left: 0;
		z-index: 1;
	}
	.tab-content {
		position: relative;
	}
	.tab-content-wrapper.deposit-modal,
	.withdrawal-modal{
		background-color: var(--dark);
		max-width: 600px;
		margin: auto;
		border: 0;
		box-shadow: none;
	}
	.deposit-pending-popup{
		padding: 20% 10%;
	}
	.deposit-pending-popup .title-text{
		font-size: var(--md);
	}
}
@media only screen and (min-width: 676px) and (max-width: 840px){
	.mdc.br{
		width: 100%;
	}
	.mdc.br.col-2{/* Break to columns */
		grid-template-columns: repeat(2, 1fr);
	}
	.mdc.br.col-3{
		grid-template-columns: repeat(2, 1fr);
	}
	.mdc.br.col-4{
		grid-template-columns: repeat(2, 1fr);
	}
	.mdc.br.col-n{
		grid-template-columns: 1fr;
	}
	.mdc.br.loose-cards.-gap-xs,
	.mdc.br.loose-cards.-gap-sm,
	.mdc.br.loose-cards.-gap-md,
	.mdc.br.loose-cards.-gap-lg,
	.mdc.br.loose-cards.-gap-xl{
		gap: var(--sm)!important;
	}
	.mdc.sm-hidden/* Visible only on md, lg, xl & xxl screens */{
		position: relative;
		opacity: 1;
		visibility: visible;
		z-index: auto;
	}
	.mdc.sm-md-hidden/* Visible only on lg, xl & xxl screens */{
		position: absolute;
		opacity: 0;
		visibility: hidden;
		z-index: -1;
	}
	.mdc.sm-md-lg-hidden/* Visible only on xl & xxl screens */{
		position: absolute;
		opacity: 0;
		visibility: hidden;
		z-index: -1;
	}
	.mdc.sm-md-lg-xl-hidden/* Visible only on xxl screens */{
		position: absolute;
		opacity: 0;
		visibility: hidden;
		z-index: -1;
	}
	.mdc.md-lg-xl-xxl-hidden/* Visible only on sm screens */{
		position: absolute;
		opacity: 0;
		visibility: hidden;
		z-index: -1;
	}
	.mdc.lg-xl-xxl-hidden/* Visible only on sm & md screens */{
		position: relative;
		opacity: 1;
		visibility: visible;
		z-index: auto;
	}
	/* MEDIA CONSTRAINTS: SPACING AND SIZING */
	.mdc-ss.-pxl-xs{/* Left padding (x) + 4px left */
		padding-left:calc(var(--xs) + 4px);
	}
	.mdc-ss.-pxl-sm{
		padding-left:calc(var(--sm) + 4px);
	}
	.mdc-ss.-pxl-md{
		padding-left:calc(var(--md) + 4px);
	}
	.mdc-ss.-pxl-lg{
		padding-left:calc(var(--lg) + 4px);
	}
	.mdc-ss.-pxl-xl{
		padding-left:calc(var(--xl) + 4px);
	}
	.mdc-ss.-pxr-xs{/* Right padding (x) + 4px right */
		padding-right:calc(var(--xs) + 4px);
	}
	.mdc-ss.-pxr-sm{
		padding-right:calc(var(--sm) + 4px);
	}
	.mdc-ss.-pxr-md{
		padding-right:calc(var(--md) + 4px);
	}
	.mdc-ss.-pxr-lg{
		padding-right:calc(var(--lg) + 4px);
	}
	.mdc-ss.-pxr-xl{
		padding-right:calc(var(--xl) + 4px);
	}
	.mdc-ss.-pyt-xs{/* Top padding (y) + 4px top */
		padding-top:calc(var(--xs) + 4px);
	}
	.mdc-ss.-pyt-sm{
		padding-top:calc(var(--sm) + 4px);
	}
	.mdc-ss.-pyt-md{
		padding-top:calc(var(--md) + 4px);
	}
	.mdc-ss.-pyt-lg{
		padding-top:calc(var(--lg) + 4px);
	}
	.mdc-ss.-pyt-xl{
		padding-top:calc(var(--xl) + 4px);
	}
	.mdc-ss.-pyb-xs{/* Bottom padding (y) + 4px bottom */
		padding-bottom:calc(var(--xs) + 4px);
	}
	.mdc-ss.-pyb-sm{
		padding-bottom:calc(var(--sm) + 4px);
	}
	.mdc-ss.-pyb-md{
		padding-bottom:calc(var(--md) + 4px);
	}
	.mdc-ss.-pyb-lg{
		padding-bottom:calc(var(--lg) + 4px);
	}
	.mdc-ss.-pyb-xl{
		padding-bottom:calc(var(--xl) + 4px);
	}
	.mdc-ss.-pxy-xs{/* Padding xy */
		padding:calc(var(--xs) + 4px);
	}
	.mdc-ss.-pxy-sm{
		padding:calc(var(--sm) + 4px);
	}
	.mdc-ss.-pxy-md{
		padding:calc(var(--md) + 4px);
	}
	.mdc-ss.-pxy-lg{
		padding:calc(var(--lg) + 4px);
	}
	.mdc-ss.-pxy-xl{
		padding:calc(var(--xl) + 4px);
	}
	.mdc-ss.-px-xs{/* Padding x */
		padding:0 calc(var(--xs) + 4px);
	}
	.mdc-ss.-px-sm{
		padding:0 calc(var(--sm) + 4px);
	}
	.mdc-ss.-px-md{
		padding:0 calc(var(--md) + 4px);
	}
	.mdc-ss.-px-lg{
		padding:0 calc(var(--lg) + 4px);
	}
	.mdc-ss.-px-xl{
		padding:0 calc(var(--xl) + 4px);
	}
	.mdc-ss.-py-xs{/* Padding y */
		padding:calc(var(--xs) + 4px) 0;
	}
	.mdc-ss.-py-sm{
		padding:calc(var(--sm) + 4px) 0;
	}
	.mdc-ss.-py-md{
		padding:calc(var(--md) + 4px) 0;
	}
	.mdc-ss.-py-lg{
		padding:calc(var(--lg) + 4px) 0;
	}
	.mdc-ss.-py-xl{
		padding:calc(var(--xl) + 4px) 0;
	}
	/* SPACING */
	.mdc-ss.-mxl-xs{/* Left margin (x) + 4px left */
		margin-left:calc(var(--xs) + 4px);
	}
	.mdc-ss.-mxl-sm{
		margin-left:calc(var(--sm) + 4px);
	}
	.mdc-ss.-mxl-md{
		margin-left:calc(var(--md) + 4px);
	}
	.mdc-ss.-mxl-lg{
		margin-left:calc(var(--lg) + 4px);
	}
	.mdc-ss.-mxl-xl{
		margin-left:calc(var(--xl) + 4px);
	}
	.mdc-ss.-mxr-xs{/* Right margin (x) + 4px right */
		margin-right:calc(var(--xs) + 4px);
	}
	.mdc-ss.-mxr-sm{
		margin-right:calc(var(--sm) + 4px);
	}
	.mdc-ss.-mxr-md{
		margin-right:calc(var(--md) + 4px);
	}
	.mdc-ss.-mxr-lg{
		margin-right:calc(var(--lg) + 4px);
	}
	.mdc-ss.-mxr-xl{
		margin-right:calc(var(--xl) + 4px);
	}
	.mdc-ss.-myt-xs{/* Top margin (y) + 4px top */
		margin-top:calc(var(--xs) + 4px);
	}
	.mdc-ss.-myt-sm{
		margin-top:calc(var(--sm) + 4px);
	}
	.mdc-ss.-myt-md{
		margin-top:calc(var(--md) + 4px);
	}
	.mdc-ss.-myt-lg{
		margin-top:calc(var(--lg) + 4px);
	}
	.mdc-ss.-myt-xl{
		margin-top:calc(var(--xl) + 4px);
	}
	.mdc-ss.-myb-xs{/* Bottom margin (y) + 4px bottom */
		margin-bottom:calc(var(--xs) + 4px);
	}
	.mdc-ss.-myb-sm{
		margin-bottom:calc(var(--sm) + 4px);
	}
	.mdc-ss.-myb-md{
		margin-bottom:calc(var(--md) + 4px);
	}
	.mdc-ss.-myb-lg{
		margin-bottom:calc(var(--lg) + 4px);
	}
	.mdc-ss.-myb-xl{
		margin-bottom:calc(var(--xl) + 4px);
	}
	.mdc-ss.-mxy-xs{/* margin xy */
		margin:calc(var(--xs) + 4px);
	}
	.mdc-ss.-mxy-sm{
		margin:calc(var(--sm) + 4px);
	}
	.mdc-ss.-mxy-md{
		margin:calc(var(--md) + 4px);
	}
	.mdc-ss.-mxy-lg{
		margin:calc(var(--lg) + 4px);
	}
	.mdc-ss.-mxy-xl{
		margin:calc(var(--xl) + 4px);
	}
	.mdc-ss.-mx-xs{/* margin x */
		margin:0 calc(var(--xs) + 4px);
	}
	.mdc-ss.-mx-sm{
		margin:0 calc(var(--sm) + 4px);
	}
	.mdc-ss.-mx-md{
		margin:0 calc(var(--md) + 4px);
	}
	.mdc-ss.-mx-lg{
		margin:0 calc(var(--lg) + 4px);
	}
	.mdc-ss.-mx-xl{
		margin:0 calc(var(--xl) + 4px);
	}
	.mdc-ss.-my-xs{/* margin y */
		margin:calc(var(--xs) + 4px) 0;
	}
	.mdc-ss.-my-sm{
		margin:calc(var(--sm) + 4px) 0;
	}
	.mdc-ss.-my-md{
		margin:calc(var(--md) + 4px) 0;
	}
	.mdc-ss.-my-lg{
		margin:calc(var(--lg) + 4px) 0;
	}
	.mdc-ss.-my-xl{
		margin:calc(var(--xl) + 4px) 0;
	}
	/* APP COMPONENTS */

	/* SQUARE IMAGE 1:1 */
	.img.img-1-1{
		min-height: 200px;
		padding-top: 100%;
	}
	/* RECTANGULAR IMAGE 16:9 */
	.img.img-16-9{
		min-height: 200px;
		padding-top: 50%;
	}
	/* INPUT FIELDS */
	.inp-field {
		padding: var(--xs) calc(var(--sm) - 4px);
		font-size: calc(var(--sm) - 2px);
	}
	.inp-field > input[type="search"] {
		display: none;
	}
	
	.toggle_sidebar {
		cursor: pointer!important;
		font-size: var(--lg)!important;
		position: relative;
		opacity: 1;
		visibility: visible;
	}
	.app-sidebar.mdc-sm {
		background-color: var(--dark);
		width: 100%;
		height: 100%;
		padding: var(--lg) 20%;
		display: flex;
		align-items: stretch;
		justify-content: flex-start;
		flex-direction: column;
		box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.12);
		position: fixed;
		top: 0;
		left: -100%;
		opacity: 1;
		visibility: visible;
		z-index: 99;
		transition: .3s ease;
	}
	.app-sidebar.mdc-sm.active {
		left: 0;
		transition: .3s ease;
	}
	.app-navlink.mdc-sm,
	.show-logout-modal.mdc-sm {
		background-color: #00000005;
		color: inherit;
		width: 100%;
		padding: calc(var(--xs) + 2px) 6%;
		border-radius: 50px;
		font-size: var(--sm);
		gap: var(--sm);
	}
	.app-navlink.mdc-sm:hover,
	.app-navlink.mdc-sm:focus,
	.app-navlink.mdc-sm.active,
	.show-logout-modal.mdc-sm:hover,
	.show-logout-modal.mdc-sm:focus,
	.show-logout-modal.mdc-sm:active {
		background-color: var(--dark-accent);
		color: var(--accent);
	}
	.inp-field.search > input[type="search"]{
		width: 80px;
		display: flex;
	}
	.app-header:has(.inp-field.search.active) .hide-on-toggle{
		opacity: 0!important;
	}

	/* MAIN, SECTION AND CARDS */
	main, .main{
		max-width: 85%;
		margin: auto;
	}
	section, .hero{
		max-width: 100%;
	}
	section.auth-section.mdc.br.col-2{
		grid-template-columns: 1fr;
	}
	.hero .img.img-1-1{
		min-height: 520px;
		padding-top: 100%;
	}
	.hero .img.img-16-9{
		min-height: 520px;
		padding-top: 50%;
	}

	/* GET STARTED PAGE */
	.auth-container {
		background-color: var(--dark);
		width: 100%;
		max-width: 520px;
		border-radius: 0;
		border: 0;
		box-shadow: none;
		position: relative;
		transform: translateX(0) translateY(0);
		top: 0;
		left: 0;
		z-index: 1;
	}
	.tab-content {
		position: relative;
	}
	.tab-content-wrapper.deposit-modal,
	.withdrawal-modal{
		background-color: var(--dark);
		max-width: 600px;
		margin: auto;
		border: 0;
		box-shadow: none;
	}

	.bot-img-preview{
		max-width: 300px;
	}
}