<!doctype html>
<html>
    <body>
        <p>Dear {{ user.firstname }},</p>
        <p>
            To verify your account
            <a href="{{ url_for('auth.confirm', token=token, _external=True) }}">
                click here
            </a>.
        </p>
        <p>Alternatively, you can paste the following link in your browser's address bar:</p>
        <p>{{ url_for('auth.confirm', token=token, _external=True) }}</p>
        <p>If you have not requested a verification email simply ignore this message.</p>
        <p>Sincerely,</p>
        <p>The Webapp Team</p>
    </body>
</html>