<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/ms_icons/icons.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/global.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.mdc.sm.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.mdc.md.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.mdc.lg.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.mdc.xl.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.mdc.xxl.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <script src="https://kit.fontawesome.com/92e004f315.js" crossorigin="anonymous"></script>
    <title>AlgoTrade</title>
</head>
<body class="app" id="home_root">
	<!--
			Header
	-->
	<header class="app-header">
  	<div class="row-space occupy-x hide-on-toggle" style="gap:var(--md)"> 
  		<span class="body-text-md bold-text row-left -align-center">
  			<span class="ms-rounded -filled">star</span>&nbsp;AlgoTrade
  		</span>
  		<span class="icon-button ms-rounded toggle_sidebar">menu</span>
  	</div>
  	<div class="col-center search-results"></div>
  	<!--
  			Sidebar for laptops and larger screens only
  	-->
  	<div class="app-sidebar mdc-ss mdc sm-md-hidden hide-on-toggle">
    	<div class="row-right" style="gap:var(--xl)"> 
    		<a href="{{ url_for('main.welcome') }}" class="app-navlink mdc-ss active" data-scrollto="home" data-route="home"> <span>Home</span> </a> 
    		<a class="app-navlink mdc-ss" data-scrollto="how-it-works"> <span>How It Works</span> </a> 
    		<a class="app-navlink mdc-ss" data-scrollto="pricing"> <span>Pricing</span> </a> 
    		<a href="{{ url_for('main.faq') }}" class="app-navlink mdc-ss" data-route="faqs"> <span>FAQs</span> </a> 
    		<a href="{{ url_for('auth.login') }}" class="app-navlink button primary-button sm c-normal" data-route="get-started">Get started</a> 
    	</div>
  	</div>
  	<!--
  			Search bar
  	-->
  	<div class="row-center -hidden">
  		<div class="inp-field search c-normal occupy-x" style="gap:var(--xs)">
  			<button class="icon-button search-button">
  				<span class="ms-rounded">search</span>
  			</button>
  			<input class="search-bar" type="search" name="homePageSearchBar" id="homePageSearchBar"
  				placeholder="Search crypto" autocomplete="false">
  		</div>
  	</div>
	</header>
	<!--
			Sidebar for mobile devices and tablets only
	-->
	<div class="app-sidebar mdc-sm mdc lg-xl-xxl-hidden" style="gap:var(--xl)">
  	<div class="row-right"> 
  		<button class="icon-button ms-rounded toggle_sidebar">Close</button> 
  	</div>
  	<!-- 
  			N/B: app-navlink with no href is not a router!
  			what is does is that it scrolls the window to a section with matching id
  			as its data-scrollto value.
  			
  			Those with both a href and data-scrollto do almost the same scroll function,
  			but are routers too
  	-->
  	<div class="col-center" style="gap:var(--sm)"> 
  		<a href="{{ url_for('main.welcome') }}" class="app-navlink mdc-sm c-normal active" data-scrollto="home" data-route="home"> <span class="ms-rounded">home</span> <span>Home</span> </a> 
  		<a class="app-navlink mdc-sm c-normal" data-scrollto="how-it-works"> <span class="ms-rounded">preview</span> <span>How It Works</span> </a> 
  		<a class="app-navlink mdc-sm c-normal" data-scrollto="pricing"> <span class="ms-rounded">paid</span> <span>Pricing</span> </a> 
  		<a href="{{ url_for('main.faq') }}" class="app-navlink mdc-sm c-normal" data-route="faqs"> <span class="ms-rounded">help</span> <span>FAQs</span> </a> 
  		<a href="{{ url_for('auth.login') }}" class="button app-navlink primary-button sm c-normal occupy-x" data-route="get-started">Get started</a> 
  	</div>
	</div>
	<!-- 
			This section element below serves as a scrollto element of the home navlink, why? because the offsetTop prop of the window.scrollTo
			js function scrolls the window FULLY to the top of the page. TRY deleting the home id from it and adding it instead to the section
			that is nested in the main element to see what I'm talking about.
	-->
	<section id="home" hidden></section>
  <main class="route col-center active -gap-md">
  	<section class="hero mdc mdc-ss -pyt-md">
    	<!--
    			Hero image appears larger than normal images. Also, the numbers attached
    			to img denotes the aspect ratio. 1:1 and 16:9
    	-->
    	<div class="img img-16-9" style="background-image: url('{{ url_for('static', filename='/assets/images/landing_page_hero_robot_img.jpg') }}');border-radius: 20px 20px 0 0;">
    		<div class="img-fade">
    			<div class="col-left mdc-ss -pxy-md -gap-sm"> 
		    		<span class="title-text bold-text contrast">Algotrade, your one stop for automated trading</span> 
		    		<span class="body-text-md contrast"> 
		    			Get access to the tools you need to invest, spend, and put your money in motion.
		    			Some more lorem ipsum shit and all that matters.
		    		</span> 
		    		<a href="{{ url_for('auth.login') }}" class="app-navlink button primary-button md c-normal" data-route="get-started">Get started</a> 
		    	</div>
    		</div>
    	</div>
  	</section>
  	<section class="mdc mdc-ss -pxy-md -gap-md" style="color: var(--light)">
  		<div class="col-left mdc -pyb-lg -gap-sm"> 
		    <span class="title-text bold-text">
		    	Features that help you trade faster
		    </span> 
		    <span class="body-text-sm"> 
		    	AlgoTrade is designed for traders who wish to level up their
		    	game in the market by making the most of trading opportunities.
		    </span> 
		    <a href="{{url_for('auth.login')}}" class="app-navlink button primary-button sm c-normal" data-route="get-started">Get started</a> 
		  </div>
		  <div class="mdc br col-4 -gap-xs loose-cards">
		  	<div class="card filled-card col-left -pxy-sm -gap-xs c-normal" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000">
		  		<span class="ms-rounded">apps</span>
		  		<span class="body-text-sm bold-text">Unlimited trading pairs</span>
		  		<span class="body-text-xs thin-text">
		  			Choose from a wide range of forex, stocks, metals, synthetics
		  			and indices.
		  		</span>
		  	</div>
		  	<div class="card filled-card col-left -pxy-sm -gap-xs c-normal" data-aos="fade-up" data-aos-delay="1200" data-aos-duration="1200">
		  		<span class="ms-rounded">browse_activity</span>
		  		<span class="body-text-sm bold-text">Backtest your strategy</span>
		  		<span class="body-text-xs thin-text">
		  			Access to a demo playground to put your real world strategy to test.
		  		</span>
		  	</div>
		  	<div class="card filled-card col-left -pxy-sm -gap-xs c-normal" data-aos="fade-up" data-aos-delay="1300" data-aos-duration="1300">
		  		<span class="ms-rounded">trending_up</span>
		  		<span class="body-text-sm bold-text">Risk management</span>
		  		<span class="body-text-xs thin-text">
		  			Take control of your profits and loss with automation.
		  		</span>
		  	</div>
		  	<div class="card filled-card col-left -pxy-sm -gap-xs c-normal" data-aos="fade-up" data-aos-delay="1400" data-aos-duration="1400">
		  		<span class="ms-rounded">money</span>
		  		<span class="body-text-sm bold-text">Dollar cost average</span>
		  		<span class="body-text-xs thin-text">
		  			Automatically buy or sell at the best rates.
		  		</span>
		  	</div>
		  </div>
  	</section>
  	<!--
  			How it works
  	-->
  	<section class="mdc mdc-ss -pxy-md" style="color: var(--light)" id="how-it-works">
  		<div class="row-left mdc -myb-sm">
  			<span class="subtitle-text-md bold-text">How It works</span>
  		</div>
  		<div class="mdc br col-3 -gap-xs loose-cards">
  			<div class="card ghost-card col-left -gap-xs c-normal" data-aos="fade-up" data-aos-delay="1600" data-aos-duration="1000">
				
  				<div class="img img-1-1 c-normal" style="background-image: url('{{ url_for('static', filename='/assets/images/landing_page_how_it_works_card1_create_strategy_img.jpg') }}')"></div>
  				<span class="body-text-sm bold-text">Create your strategy</span>
  				<span class="body-text-xs thin-text">
  					Develop a suitable trading strategy.
  				</span>
  			</div>
  			<div class="card ghost-card col-left -gap-xs c-normal" data-aos="fade-up" data-aos-delay="1700" data-aos-duration="1200">
				
  				<div class="img img-1-1 c-normal" style="background-image: url('{{ url_for('static', filename='/assets/images/landing_page_how_it_works_card2_set_your_rules_img.jpg') }}')"></div>
  				<span class="body-text-sm bold-text">Set your rules</span>
  				<span class="body-text-xs thin-text">
  					Implement your lines of ifs and elses.
  				</span>
  			</div>
  			<div class="card ghost-card col-left -gap-xs c-normal" data-aos="fade-up" data-aos-delay="1800" data-aos-duration="1400">
  				<div class="img img-1-1 c-normal" style="background-image: url('{{ url_for('static', filename='assets/images/landing_page_how_it_works_card3_let_bot_trade_img.jpg') }}')"></div>
  				<span class="body-text-sm bold-text">Let the bot trade</span>
  				<span class="body-text-xs thin-text">
  					Watch your bot do all the work.
  				</span>
  			</div>
  		</div>
  	</section>
  	<!--
  			Pricing
  	-->
  	<section class="mdc mdc-ss -pxy-md" style="color: var(--light)" id="pricing">
  		<div class="row-left mdc -myb-sm" id="pricing">
  			<span class="subtitle-text-md bold-text">Pricing</span>
  		</div>
  		<div class="mdc br col-3 -gap-xs">
  			<div class="card filled-card col-left -pxy-sm -gap-sm c-normal" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000">
  				<span class="body-text-sm bold-text">Starter</span>
  				<span>
  					<span class="title-text">$29</span>
  					<span class="body-text-md">/mo</span>
  				</span>
  				<div class="col-left -gap-sm">
  					<div class="row-left -gap-xs">
  						<span class="ms-rounded">check</span>
  						<span class="body-text-xs light-text">Unlimited trading pairs</span>
  					</div>
  					<div class="row-left -gap-xs">
  						<span class="ms-rounded">check</span>
  						<span class="body-text-xs light-text">Real-time backtesting</span>
  					</div>
  					<div class="row-left -gap-xs">
  						<span class="ms-rounded">check</span>
  						<span class="body-text-xs light-text">Take profit and stop loss</span>
  					</div>
  					<!--
  							Get it button should store the price plan in a variable, maybe localStorage
  							before redirecting to auth page, so user dashboard and features will be tuned
  							according to the initially selected plan from localStorage
  					-->
  					<div class="row-center">
  						<a href="{{url_for('auth.login')}}" class="app-navlink button primary-button xs c-normal" data-plan="starter">Get it</a>
  					</div>
  				</div>
  			</div>
  			<div class="card filled-card col-left -pxy-sm -gap-sm c-normal" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1200">
  				<span class="body-text-sm bold-text">Pro</span>
  				<span>
  					<span class="title-text">$59</span>
  					<span class="body-text-md">/mo</span>
  				</span>
  				<div class="col-left -gap-sm">
  					<div class="row-left -gap-xs">
  						<span class="ms-rounded">check</span>
  						<span class="body-text-xs light-text">Dollar cost averaging</span>
  					</div>
  					<div class="row-left -gap-xs">
  						<span class="ms-rounded">check</span>
  						<span class="body-text-xs light-text">Telegram notifications</span>
  					</div>
  					<div class="row-left -gap-xs">
  						<span class="ms-rounded">check</span>
  						<span class="body-text-xs light-text">Promptly support</span>
  					</div>
  					<div class="row-center">
  						<a href="{{url_for('auth.login')}}" class="app-navlink button primary-button xs c-normal" data-plan="pro">Get it</a>
  					</div>
  				</div>
  			</div>
  			<div class="card filled-card col-left -pxy-sm -gap-sm c-normal" data-aos="fade-up" data-aos-delay="1200" data-aos-duration="1400">
  				<span class="body-text-sm bold-text">Premium</span>
  				<span>
  					<span class="title-text">$99</span>
  					<span class="body-text-md">/mo</span>
  				</span>
  				<div class="col-left -gap-sm">
  					<div class="row-left -gap-xs">
  						<span class="ms-rounded">check</span>
  						<span class="body-text-xs light-text">Custom trading strategies</span>
  					</div>
  					<div class="row-left -gap-xs">
  						<span class="ms-rounded">check</span>
  						<span class="body-text-xs light-text">Advanced coder types</span>
  					</div>
  					<div class="row-left -gap-xs">
  						<span class="ms-rounded">check</span>
  						<span class="body-text-xs light-text">Phone support</span>
  					</div>
  					<div class="row-center">
  						<a href="/auth" class="app-navlink button primary-button xs c-normal" data-plan="premium">Get it</a>
  					</div>
  				</div>
  			</div>
  		</div>
  	</section>
  	<!--
  			Testimonials
  	-->
  	<section class="mdc mdc-ss -pxy-sm sm-hidden" style="color: var(--light);">
  		<div class="row-left mdc -myb-sm" id="pricing">
  			<span class="subtitle-text-md bold-text">What our clients have to say</span>
  		</div>
  		<div class="mdc br col-3 -gap-xs loose-cards">
				<div class="card filled-card col-center -pxy-sm -gap-sm c-normal" data-aos="flip-left" data-aos-duration="1000">
  				<div class="avatar md c-round" style="background-image: url('./assets/images/testimonials_client_images/sarah_m.jpg')"></div>
  				<div class="col-center -gap-sm">
  					<div class="col-center">
  						<span class="body-text-md bold-text">Sarah Micheals</span>
  						<span class="body-text-xs">Manager, Capetown</span>
  					</div>
	  				<span class="body-text-xs text-center">
	  					I have never had to worry about monitoring my trades 24/7
	  					since i joined the Algo-rithm
	  				</span>
  				</div>
  			</div>
  			<div class="card filled-card col-center -pxy-sm -gap-sm c-normal" data-aos="flip-left" data-aos-duration="1200">
  				<div class="avatar md c-round" style="background-image: url('./assets/images/testimonials_client_images/ruth_b.jpg')"></div>
  				<div class="col-center -gap-sm">
  					<div class="col-center">
  						<span class="body-text-md bold-text">Ruth Brandon</span>
  						<span class="body-text-xs">Community officer, USA</span>
  					</div>
	  				<span class="body-text-xs text-center">
	  					I used to think trading was just too complex until i discovered algotrade.
	  					Now i trade like a pro
	  				</span>
  				</div>
  			</div>
  			<div class="card filled-card col-center -pxy-sm -gap-sm c-normal" data-aos="flip-left" data-aos-duration="1300">
  				<div class="avatar md c-round" style="background-image: url('./assets/images/testimonials_client_images/eva_b.jpg')"></div>
  				<div class="col-center -gap-sm">
  					<div class="col-center">
  						<span class="body-text-md bold-text">Eva Bennett</span>
  						<span class="body-text-xs">Marketer, Spain</span>
  					</div>
	  				<span class="body-text-xs text-center">
	  					Press a few buttons and your bot carries out the instructions? it is
	  					pretty much time efficient
	  				</span>
  				</div>
  			</div>
  			<div class="card filled-card col-center -pxy-sm -gap-sm c-normal" data-aos="flip-left" data-aos-duration="1400">
  				<div class="avatar md c-round" style="background-image: url('./assets/images/testimonials_client_images/hanson_m.jpg')"></div>
  				<div class="col-center -gap-sm">
  					<div class="col-center">
  						<span class="body-text-md bold-text">Hanson Mason</span>
  						<span class="body-text-xs">Student, Sao tomé</span>
  					</div>
	  				<span class="body-text-xs text-center">
	  					Here's me staring at my ledger balance every time.
	  					The pro bot is sure badass if you ask me
	  				</span>
  				</div>
  			</div>
  			<div class="card filled-card col-center -pxy-sm -gap-sm c-normal" data-aos="flip-left" data-aos-duration="1500">
  				<div class="avatar md c-round" style="background-image: url('./assets/images/testimonials_client_images/jumbo_p.jpg')"></div>
  				<div class="col-center -gap-sm">
  					<div class="col-center">
  						<span class="body-text-md bold-text">Jumbo Paul</span>
  						<span class="body-text-xs">Caregiver, Turkey</span>
  					</div>
	  				<span class="body-text-xs text-center">
	  					I didn't believe at first.. but i tried it anyways and it worked! the profits kicking in
	  					are surreal!
	  				</span>
  				</div>
  			</div>
  			<div class="card filled-card col-center -pxy-sm -gap-sm c-normal" data-aos="flip-left" data-aos-duration="1600">
  				<div class="avatar md c-round" style="background-image: url('./assets/images/testimonials_client_images/thomas_j.jpg')"></div>
  				<div class="col-center -gap-sm">
  					<div class="col-center">
  						<span class="body-text-md bold-text">Thomas John</span>
  						<span class="body-text-xs">Driver, Nigeria</span>
  					</div>
	  				<span class="body-text-xs text-center">
	  					Easy way to make even extra cash without breaking a sweat.
	  					Especially waking up to greens
	  				</span>
  				</div>
  			</div>
  		</div>
  	</section>
  	<!--
  			Testimonials but for sm screens only which displays as a carousel
  	-->
  	<section class="mdc mdc-ss -py-sm md-lg-xl-xxl-hidden" style="color: var(--light);">
  		<div class="row-left mdc -mxy-sm" id="pricing">
  			<span class="subtitle-text-md bold-text">What our clients have to say</span>
  		</div>
  		<div class="carousel-container -px-sm">
  			<div class="carousel-track -gap-xs">
					<div class="carousel-item card filled-card col-center -pxy-sm -gap-sm c-normal">
	  				<div class="avatar lg c-round" style="background-image: url('./assets/images/testimonials_client_images/sarah_m.jpg')"></div>
	  				<div class="col-center -gap-sm">
	  					<div class="col-center">
	  						<span class="body-text-md bold-text">Sarah Micheals</span>
	  						<span class="body-text-xs">Manager, Capetown</span>
	  					</div>
		  				<span class="body-text-xs text-center">
		  					I have never had to worry about monitoring my trades 24/7
		  					since i joined the Algo-rithm
		  				</span>
	  				</div>
	  			</div>
	  			<div class="carousel-item card filled-card col-center -pxy-sm -gap-sm c-normal">
	  				<div class="avatar lg c-round" style="background-image: url('./assets/images/testimonials_client_images/ruth_b.jpg')"></div>
	  				<div class="col-center -gap-sm">
	  					<div class="col-center">
	  						<span class="body-text-md bold-text">Ruth Brandon</span>
	  						<span class="body-text-xs">Community officer, USA</span>
	  					</div>
		  				<span class="body-text-xs text-center">
		  					I used to think trading was just too complex until i discovered algotrade.
		  					Now i trade like a pro
		  				</span>
	  				</div>
	  			</div>
	  			<div class="carousel-item card filled-card col-center -pxy-sm -gap-sm c-normal">
	  				<div class="avatar lg c-round" style="background-image: url('./assets/images/testimonials_client_images/eva_b.jpg')"></div>
	  				<div class="col-center -gap-sm">
	  					<div class="col-center">
	  						<span class="body-text-md bold-text">Eva Bennett</span>
	  						<span class="body-text-xs">Marketer, Spain</span>
	  					</div>
		  				<span class="body-text-xs text-center">
		  					Press a few buttons and your bot carries out the instructions? it is
		  					pretty much time efficient
		  				</span>
	  				</div>
	  			</div>
	  			<div class="carousel-item card filled-card col-center -pxy-sm -gap-sm c-normal">
	  				<div class="avatar lg c-round" style="background-image: url('./assets/images/testimonials_client_images/hanson_m.jpg')"></div>
	  				<div class="col-center -gap-sm">
	  					<div class="col-center">
	  						<span class="body-text-md bold-text">Hanson Mason</span>
	  						<span class="body-text-xs">Student, Sao tomé</span>
	  					</div>
		  				<span class="body-text-xs text-center">
		  					Here's me staring at my ledger balance every time,
		  					The pro bot is sure badass if you ask me
		  				</span>
	  				</div>
	  			</div>
	  			<div class="carousel-item card filled-card col-center -pxy-sm -gap-sm c-normal">
	  				<div class="avatar lg c-round" style="background-image: url('./assets/images/testimonials_client_images/jumbo_p.jpg')"></div>
	  				<div class="col-center -gap-sm">
	  					<div class="col-center">
	  						<span class="body-text-md bold-text">Jumbo Paul</span>
	  						<span class="body-text-xs">Caregiver, Turkey</span>
	  					</div>
		  				<span class="body-text-xs text-center">
		  					I didn't believe at first.. but i tried anyways and it worked! the profits kicking in
		  					are surreal!
		  				</span>
	  				</div>
	  			</div>
	  			<div class="carousel-item card filled-card col-center -pxy-sm -gap-sm c-normal">
	  				<div class="avatar lg c-round" style="background-image: url('./assets/images/testimonials_client_images/thomas_j.jpg')"></div>
	  				<div class="col-center -gap-sm">
	  					<div class="col-center">
	  						<span class="body-text-md bold-text">Thomas John</span>
	  						<span class="body-text-xs">Driver, Nigeria</span>
	  					</div>
		  				<span class="body-text-xs text-center">
		  					Easy way to make even extra cash without breaking a sweat.
		  					Especially waking up to greens
		  				</span>
	  				</div>
	  			</div>
	  		</div>
  		</div>
  		<div class="carousel-controls row-center -px-sm -gap-xs occupy-x">
  			<button class="secondary-button sm ms-rounded" id="prev_testimonial_card">arrow_back</button>
  			<span class="carousel-active-count body-text-sm -hidden" style="flex-shrink: 0"><span class="active">1</span>&nbsp;of 6</span>
  			<button class="secondary-button sm ms-rounded" id="next_testimonial_card">arrow_forward</button>
  		</div>
  	</section>
	</main>
	<!--
			Container for null search results
	-->
	<main class="row-center null-search-results">
		<span class="subtitle-text-sm">No Results for</span>&nbsp;
		<span class="subtitle-text-sm highlight"></span>
	</main>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>AOS.init();</script>
	<script src="{{ url_for('static', filename='/JS/main.js') }}"></script>
	<script src="{{ url_for('static', filename='/JS/index.js') }}"></script>
</body>
</html>
